@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I AM JOHN LOUISE ERNEST L. DENILA FROM SBIT-2G</p>
</div>
<div class="picture">
    <img src="~/Picture/DSC05352.jpg" class="img"/>
        

</div>
 